.gallery{
    background-image: url(../../../assets/imgs/pictures.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    padding-top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.gallery h1{
    font-family: av;
    font-size: 28pt;

    background-image: linear-gradient(to bottom, #b8c6df 50%, #6d88b7 100%);
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: #000;
    text-shadow: 1px 1px 1px #000;
}
.imagens{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}