.contCardGal{
    width: 400px;
    height: 225px;
    margin: 10px 0;

    flex-grow: 1;
}
.cardGallery{
    background-image: url(../../../assets/imgs/pictures.jpg);
    background-size: cover;
    
    width: 400px;
    height: 225px;
    
    transform: skew( -5px, +5px);
    margin: 1vh 0.5vw;
}

.cardGallery img{
    width: 100%;
    height: 100%;
    transform: skew( +5deg, -5deg);
    transition: 1s;
}
.cardGallery img:hover{
    transform: skew( -5deg, +5deg);
}
@media(max-width: 800px){
    .contCardGal{
        width: 80vw;
        height: 40vh;
    }
    .cardGallery{
        width: 80vw;
        height: 40vh;
    }
}